.form-step-box {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .step-item {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
  }

  .num {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-family: PingFang SC, PingFang SC;
    font-size: 16px;

    color: #999999;
    background-color: #fff;
    border: 2px solid #999999;
    font-weight: 600;
  }

  .active-num {
    color: #fff;
    background-color: #1d70f5;
    border: 2px solid #1d70f5;
  }

  .success-num {
    color: #fff;
    background-color: #00b42a;
    border: 2px solid #00b42a;
  }

  .text {
    font-family: PingFang SC, PingFang SC;
    font-size: 20px;
    font-weight: 500;
    color: #999999;
  }

  .active-text {
    font-weight: 600;
    color: #222222;
  }

  .success-text {
    font-weight: 600;
    color: #00b42a;
  }

  .line {
    width: 108px;
    height: 1px;
    background-color: #cccccc;
    margin-left: 10px;
  }

  .active-line {
    background-color: #00b42a;
  }
}