@font-face {
  font-family: "iconfont"; /* Project id 5006799 */
  src: url('iconfont.woff2?t=1762008146330') format('woff2'),
       url('iconfont.woff?t=1762008146330') format('woff'),
       url('iconfont.ttf?t=1762008146330') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-un-config-o:before {
  content: "\e6b4";
}

.icon-trace:before {
  content: "\e60d";
}

.icon-log-out-01:before {
  content: "\e67b";
}

.icon-linux:before {
  content: "\e73d";
}

.icon-kubernetes:before {
  content: "\e600";
}

.icon-docker:before {
  content: "\e60c";
}

.icon-control_panel:before {
  content: "\e605";
}

.icon-asset_management:before {
  content: "\e606";
}

.icon-home:before {
  content: "\e607";
}

.icon-track_panel:before {
  content: "\e608";
}

.icon-monitors_panel:before {
  content: "\e609";
}

.icon-logs_panel:before {
  content: "\e60a";
}

.icon-availability_monitoring:before {
  content: "\e60b";
}

.icon-collapse:before {
  content: "\e601";
}

.icon-message:before {
  content: "\e602";
}

.icon-event_panel:before {
  content: "\e603";
}

.icon-target_panel:before {
  content: "\e604";
}

