.el-table__header th {
  font-weight: bold;
  color: #252525;
  background: #fafafa;
}

.el-table .el-table__header th {
  background: var(--el-fill-color-light) !important;
}

.el-button--primary {
  &:not(.is-link) {
    border-color: $primaryColor;
    background: $primaryColor;
    border-radius: 4px;
  }
  &.is-link {
    color: $primaryColor;
    font-size: 14px;
    &:hover {
      color: lighten($primaryColor, 15%) !important;
    }
  }
}

.el-tabs__header .el-tabs__item {
  color: $menuText;
  &.is-active {
    color: $primaryColor;
  }
  &:hover {
    color: lighten($primaryColor, 15%) !important;
  }
}
