.container {
  margin-bottom: 20px;
  .icon {
    cursor: pointer;
    color: #41464f;
    margin-right: 15px;
  }
  .chatIcon {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  .chatIconFold {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
}
